<ul class="post_new">

	<li>
		<div class="new_post">
			<h3>Post new</h3>
			<p><span>22nd aug 2018</span> | <label>Category</label></p>
			<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait <a routerLink="details">Read More..</a></p>
			<p class="social_icon"><a href=""><i class="far fa-heart"></i></a><a href=""><i class="far fa-comments"></i></a> <a href=""><i class="fas fa-share-alt"></i></a><a href=""> <i class="far fa-trash-alt"></i></a> </p>
		</div>
	</li>


	<li>
		<div class="new_post">
			<h3>Abc new</h3>
			<p><span>21st aug 2018</span> | <label>Category</label></p>
			<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait <a routerLink="details1">Read More..</a></p>
			<p class="social_icon"><a href=""><i class="far fa-heart"></i></a><a href=""><i class="far fa-comments"></i></a> <a href=""><i class="fas fa-share-alt"></i></a><a href=""> <i class="far fa-trash-alt"></i></a> </p>
		</div>
	</li>


	<li>
		<div class="new_post">
			<h3>DEF new</h3>
			<p><span>21st aug 2018</span> | <label>Category</label></p>
			<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait <a href="" routerLink="details1">Read More..</a></p>
			<p class="social_icon"><a href=""><i class="far fa-heart"></i></a><a href=""><i class="far fa-comments"></i></a> <a href=""><i class="fas fa-share-alt"></i></a><a href=""> <i class="far fa-trash-alt"></i></a> </p>
		</div>
	</li>


	<li>
		<div class="new_post">
			<h3>ghi new</h3>
			<p><span>21st aug 2018</span> | <label>Category</label></p>
			<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait <a routerLink="details1">Read More..</a></p>
			<p class="social_icon"><a href=""><i class="far fa-heart"></i></a><a href=""><i class="far fa-comments"></i></a> <a href=""><i class="fas fa-share-alt"></i></a><a href=""> <i class="far fa-trash-alt"></i></a> </p>
		</div>
	</li>

	<li>
		<div class="new_post">
			<h3>JkL new</h3>
			<p><span>21st aug 2018</span> | <label>Category</label></p>
			<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait <a href="" routerLink="">Read More..</a></p>
			<p class="social_icon"><a href=""><i class="far fa-heart"></i></a><a href=""><i class="far fa-comments"></i></a> <a href=""><i class="fas fa-share-alt"></i></a><a href=""> <i class="far fa-trash-alt"></i></a> </p>
		</div>
	</li>

	<li>
		<div class="new_post">
			<h3>Mnop new</h3>
			<p><span>21st aug 2018</span> | <label>Category</label></p>
			<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait <a href="" routerLink="details1">Read More..</a></p>
			<p class="social_icon"><a href=""><i class="far fa-heart"></i></a><a href=""><i class="far fa-comments"></i></a> <a href=""><i class="fas fa-share-alt"></i></a><a href=""> <i class="far fa-trash-alt"></i></a> </p>
		</div>
	</li>
	<li>
		<div class="new_post">
			<h3>Mnop new</h3>
			<p><span>21st aug 2018</span> | <label>Category</label></p>
			<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait <a href="" routerLink="details1">Read More..</a></p>
			<p class="social_icon"><a href=""><i class="far fa-heart"></i></a><a href=""><i class="far fa-comments"></i></a> <a href=""><i class="fas fa-share-alt"></i></a><a href=""> <i class="far fa-trash-alt"></i></a> </p>
		</div>
	</li>

	<li>
		<div class="new_post">
			<h3>qRsvf new</h3>
			<p><span>21st aug 2018</span> | <label>Category</label></p>
			<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait <a href="" routerLink="details1">Read More..</a></p>
			<p class="social_icon"><a href=""><i class="far fa-heart"></i></a><a href=""><i class="far fa-comments"></i></a> <a href=""><i class="fas fa-share-alt"></i></a><a href=""> <i class="far fa-trash-alt"></i></a> </p>
		</div>
	</li>
	<li>
		<div class="new_post">
			<h3>New Data Arrive</h3>
			<p><span>1st Dec 2018</span> | <label>Category</label></p>
			<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait <a href="" routerLink="details1">Read More..</a></p>
			<p class="social_icon"><a href=""><i class="far fa-heart"></i></a><a href=""><i class="far fa-comments"></i></a> <a href=""><i class="fas fa-share-alt"></i></a><a href=""> <i class="far fa-trash-alt"></i></a> </p>
		</div>
	</li>

	<li>
		<div class="new_post">
			<h3>vff new</h3>
			<p><span>21st aug 2018</span> | <label>Category</label></p>
			<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait <a href="">Read More..</a></p>
			<p class="social_icon"><a href=""><i class="far fa-heart"></i></a><a href=""><i class="far fa-comments"></i></a> <a href=""><i class="fas fa-share-alt"></i></a><a href=""> <i class="far fa-trash-alt"></i></a> </p>
		</div>
	</li>

<li>
		<div class="new_post">
		</div>
</li>
</ul>
