<div class="message_screen">
	<div class="heading_mes">
		<h2>Conversation</h2>
	</div>
	<div class="main_cont">
		<ul class="msg_name_hdr">

			<li>
				<ul>
					<li><p class="img_sce"><a href=""><img src="../assets/images/123.jpg" alt="user1"/></a></p></li>
					<li><h4><a href="">User1</a></h4>	
						<span>End user</span></li>
				</ul>
			</li>

			<li>
				<ul>
					<li><p class="img_sce"><a href=""><img src="../assets/images/123.jpg" alt="user2"/></a></p></li>
					<li><h4><a href="">User2</a></h4>
						<span>End user</span></li>
				</ul>
			</li>

		</ul>
</div>
		<div class="timeline">
		  
		  <h2 class="timeline__item timeline__item--year">2018</h2>
		  
		  <div class="timeline__item">
		    <h3 class="timeline__title">Lorem ipsum dolor sit.</h3>
		    <p class="timeline__blurb">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, dolorum?</p>
		  </div>
		  <div class="timeline__item">
		    <h3 class="timeline__title">Lorem ipsum dolor sit.</h3>
		  </div>
		  
		  <div class="timeline__item">
		    <h3 class="timeline__title">Ducimus iure cumque nisi?</h3>
		    <p class="timeline__blurb">Possimus sit, atque quia quas mollitia accusamus error fuga dignissimos?</p>
		  </div>
		  <div class="timeline__item">
		    <h3 class="timeline__title">Lorem ipsum dolor sit.</h3>
		    <p class="timeline__blurb">Ducimus iure cumque nisi? Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, dolorum?</p>
		  </div>
		  <div class="timeline__item">
		    <h3 class="timeline__title">Ducimus iure cumque nisi dolor sit.</h3>
		  </div>
		  <div class="timeline__item">
		    <h3 class="timeline__title">Ducimus iure cumque nisi? Lorem ipsum dolor sit</h3>
		    <p class="timeline__blurb">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, dolorum?Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, dolorum?</p>
		  </div>
		  
		  <h2 class="timeline__item timeline__item--year">2016</h2>
		  
		  <div class="timeline__item">
		    <h3 class="timeline__title">Lorem ipsum dolor sit.Lorem ipsum dolor sit.</h3>
		    <p class="timeline__blurb">Veritatis eligendi a porro provident, modi excepturi delectus explicabo ex.</p>
		  </div>
		  <div class="timeline__item">
		    <h3 class="timeline__title">dolor sit.Lorem ipsum dolor sit.</h3>
		    <p class="timeline__blurb">Ratione minima dicta veniam excepturi aperiam et voluptas a numquam.</p>
		  </div>
		  <div class="timeline__item">
		    <h3 class="timeline__title">Ducimus iure cumque nisi? Lorem ipsum dolor sit</h3>
		    <p class="timeline__blurb">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, dolorum?Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, dolorum?</p>
		  </div>
		  
		  <h2 class="timeline__item timeline__item--year">2008</h2>
		  
		  <div class="timeline__item">
		    <h3 class="timeline__title">Ducimus iure cumque nisi? Lorem ipsum dolor sit</h3>
		    <p class="timeline__blurb">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, dolorum?Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, dolorum?</p>
		  </div>
		  <div class="timeline__item">
		    <h3 class="timeline__title">consectetur adipisicing elit. Earum, dolorum?</h3>
		    <p class="timeline__blurb">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, dolorum?Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, dolorum?</p>
		  </div>
		  
		  <h2 class="timeline__item timeline__item--year">1985</h2>
		  
		  <div class="timeline__item">
		    <h3 class="timeline__title">dvdsv</h3>
		  </div>
		</div>


</div>












