@charset "utf-8";
/* CSS Document */



@font-face{
	src:url(../fonts/Cabin-Regular.otf);
	font-family:'Cabin-Regular';
	font-weight: normal;
 	font-style: normal;
}

@font-face{
	src:url(../fonts/Cabin-Medium.otf);
	font-family:'Cabin-Medium';
	font-weight: normal;
 	font-style: normal;
}

@font-face{
	src:url(../fonts/Cabin-Bold.otf);
	font-family:'Cabin-Bold';
	font-weight: 900;
 	font-style: normal;
}
:hover{-moz-transition:all 0.2s ease-in;-webkit-transition:all 0.2s ease-in;transition:all 0.2s ease-in;}
*{margin:0;padding:0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
body{display:block;font-size:14px;color:#000;padding:0;margin:0;font-family:'Cabin-Regular';}
a{text-decoration:none;color:#053353;-moz-transition:all 0.2s ease-in;-webkit-transition:all 0.2s ease-in;transition:all 0.2s ease-in;}
a:hover, a:active, a:focus{text-decoration:none;color:#fd1e77;font-family:'Cabin-Regular';-moz-transition:all 0.2s ease-in;-webkit-transition:all 0.2s ease-in;transition:all 0.2s ease-in;}
input:focus, select:focus{outline:none;}
input, textarea, select{font-family:'Cabin-Regular';}
ul{list-style:none;padding:0;margin:0}
label{font-weight:500;}
h1{font-size:2em;margin:10px 0;}
h2{font-size:1.5em;margin:10px 0;}
h3{font-size:1.17em;margin:10px 0;}
h5{font-size:0.83em;margin:10px 0;}
h6{font-size:0.67em;margin:10px 0;}
img{max-width: 100%;vertical-align: middle;}
.margin_top{margin-top:30px;}
.margin_bottom{margin-bottom:30px;}
.margin_both{margin:8% 0px 35px 0;}
.owl-item.cloned{
	display:none;
    width:0 !important;
}

.full_main{width:1598px;margin:0px auto;max-width:100%;padding:0 15px;}
.main{width:1330px;max-width:100%;margin:0px auto;}

header nav{background:#f9f9f9;display:flex;}
.main_menu{position:relative;display:flex;flex-direction: row;    flex-wrap: wrap;}
header nav .header_nav{justify-content: flex-start;flex-flow: row;flex-grow: 1;}
header nav .logo{}
header nav .logo a{color:#fd1e77;}
.topnav {overflow: hidden;display: inline-flex;flex-grow: initial;justify-content: flex-end;}
.topnav li {float: left;display: block;color: #f2f2f2;text-align: center;padding:14px 0px 14px 32px;text-decoration: none;font-size: 17px;}
.topnav li a{color:#053353;font-size: 15px;text-transform: uppercase;}
.active{ color: #fd1e77 !important;}
.topnav a:hover {color: #fd1e77;}

.icon {display: none;}
.topnav li a i{margin-right: 10px;font-size:19px;}
.top_subh{background:#053353;border-bottom:3px solid #fd1e77;display:flex;}
.sub_menu{position:relative;display:flex;flex-direction: row;    flex-wrap: wrap;}
.social{justify-content: flex-start;flex-flow: row;flex-grow: 1;padding: 10px 0;}
.social a{margin-right:5px;}
.extra_link{justify-content: flex-end;}
.extra_link li{display:inline-flex;}
.extra_link li a{padding: 12px;font-size: 14px;text-transform: uppercase;color:#fff;}
.extra_link li.cart{background:#eee;}
.extra_link li.cart a{color:#053353;padding: 5px 10px;}
.extra_link li.cart a img{margin-right:5px;}
.banner{display:flex;}
.owl-carousel.owl-drag .owl-item{height:750px;}

.owl-one .owl-nav {width: 1598px;margin: 0px auto;max-width: 100%;padding: 0 15px;right: 0;position: absolute;left: 0;top:48%;}
.owl-two .owl-nav{right: 0;position: absolute;left: 0;top:-80px;}
.owl-three .owl-nav{right: 0;position: absolute;left: 0;top:-80px;}
.owl-one .owl-nav .owl-prev, .owl-two .owl-nav .owl-prev, .owl-three .owl-nav .owl-prev{color:transparent;position:relative;float:left}
.owl-one .owl-nav .owl-next, .owl-two .owl-nav .owl-next, .owl-three .owl-nav .owl-next{color:transparent;position:relative;float:right;}
.owl-one .owl-nav .owl-prev:after, .owl-two .owl-nav .owl-prev:after, .owl-three .owl-nav .owl-prev:after{content:"\f137";position:absolute;left:0;font: normal normal normal 14px/1 FontAwesome;color:#053353;font-size:40px;}
.owl-one .owl-nav .owl-next:after, .owl-two .owl-nav .owl-next:after, .owl-three .owl-nav .owl-next:after{content:"\f138";position:absolute;right:0;font: normal normal normal 14px/1 FontAwesome;color:#053353;font-size:40px;}
.slider_text{width:100%;text-align:center;color:#000;position: absolute;top: 20%;}
.slider_text h5{font-size:16px;text-transform:uppercase;color:#fff;font-weight:400;background:#053353;display:inline-flex;padding: 10px;letter-spacing:1.5px;}
.slider_text h1{color:#fff;font-size:50px;letter-spacing:1.5px;font-weight:400;position:relative;padding:20px 0;}
.slider_text h1 span{text-transform:uppercase;color:#053353;font-family:'Cabin-Bold';font-weight:900;margin-left:10px;}
.slider_text h1:after{position:absolute;content:'';width:100px;height:3px;background:#fd1e77;left:0;right:0;margin:0 auto;bottom:0;}
.black_btn{color:#fd1e77;background:#000;text-align:center;font-size:18px;padding:10px 20px;margin:20px 0;display:inline-flex;text-transform:capitalize;}
.search{padding: 15px;flex-wrap: wrap;background: #f9f9f9;margin-top: -40px;z-index: 1;position: relative;}
.search select{width: 20%;padding: 5px;height: 45px;font-size: 17px;color: #fff;background: #053353;border: 0px;text-transform:capitalize;letter-spacing:1.5px;cursor:pointer;position:relative;z-index:1;}
.search input[type=search]{background:transparent;color:#333;font-size:16px;width:79%;border:1px solid #ccc;margin-left:-8px;padding:10px;height:45px;margin-top:1px;} 
.search i{margin-left:-25px;color:#ccc;}
.banner{min-height:600}
.season_sale{display:flex;flex-wrap:wrap;margin: 40px 0;}
.season_sale li.big_div{flex:60%;padding: 0 20px 0px 0px;}
.season_sale li.small_div{flex:40%;padding: 0 0px 0px 20px;}
.season_sale img{width:100%;}
.season_sale a{height: 100%;width: 100%;display: block;position: relative;}
.season_sale .overlay{position: absolute;background: #053353;top: 0;left: 0;width: 100%;height: 100%;opacity: 0.5;}
.season_sale li{height:290px;overflow:hidden;}
 .season_sale li h1{position: absolute;top: 45%;right: 0;left: 0;margin: 0 auto;text-align: center;color: #fff;z-index: 1;font-size: 32px;}
 .season_sale li h1 span{padding: 5px;background:#053353;}
 .shop_des{display:flex;flex-wrap:wrap;text-align:center;border: 1px solid #ccc;padding: 10px;border-top: 0px;}
.shop_des li{flex:100%;}
.shop_des li h2{color:#053353;text-transform:capitalize;margin:20px 0;}
.shop_des li .rating i{color:#fd1e77;cursor:pointer;}
.shop_des li .black_btn{float:left;} 
.shop_des li label{float:right;color:#000;font-size:30px;line-height:2.7;}
.shop .owl-nav{display:block !important;}
.sub_header{text-align:center;display: flex;width: 100%;}
.sub_header h1{text-transform:uppercase;font-size:40px;color:#053353;font-weight:400;    width: 100%;}
.sub_header h1 span{font-weight:900;color:#000;}
.parallax_offer_b{background-image:url(../images/banner.jpg);background-position: top right;display: flex;width:100%;height:500px;background-attachment: fixed;background-size: cover;background-repeat:no-repeat;}
.banner_text{text-align:center;text-transform:uppercase;width: 50%;margin-top: 9%;}
.banner_text label{font-size:48px;color:#000;line-height:2;display:block;position:relative;}
.banner_text span{font-size:36px;letter-spacing:3.3px;text-decoration:underline;display:block;color:#fff;line-height:2;font-weight:400;}
.banner_text label:after {content: '';position: absolute;top: 0;left: 0;right: 0;margin: 0 auto;width: 200px;height: 5px;background-color: #fd1e77;}
.banner_text .black_btn{text-transform:uppercase;padding: 10px 35px;}
.shop_with_tab{display:block;width:100%;margin:50px 0;clear:both;}
div.tab {overflow: hidden;text-align:center;margin: 33px 0;}
/* Style the buttons inside the tab */
div.tab button {font-family:'Cabin-Regular';background-color: transparent;display:inline-block;border: none;outline: none;cursor: pointer;margin:10px 20px;transition: 0.3s;font-size: 26px;text-transform:uppercase;color:#053353;position:relative;z-index:99;}
/* Change background color of buttons on hover */
div.tab button:hover, div.tab button.active {background-color: transparent;color:#000;font-weight:600;}
/* Style the tab content */
.tabcontent {display: none;}
footer{background:#000;padding-bottom:30px;}
.footer_inner{display: flex;flex-direction: row;flex-wrap: wrap;justify-content: space-between;padding:40px 0;}
.footer_f_heading{font-size:24px;font-weight:500;color:#eee;text-transform:uppercase;text-align:left;margin: 10px 0 25px 0px;}
.footer_f_heading span{color:#fd1e77;}
.footer_inner aside{flex-basis: 25%;}
.footer_inner aside p{line-height:2.5;}
.footer_inner aside p label{font-size:18px;color:#fff;text-transform:capitalize;width:140px;display:inline-flex;}
.footer_inner aside p label i{color:#fd1e77;width: 30px;line-height: 2.5;}
.footer_inner aside p span{font-size:15px;line-height:1.8;color:#ddd;font-weight:300;display:inline-flex;}
.footer_inner aside.f_links a{font-size: 18px;color: #ddd;text-transform: capitalize;padding-left:20px;position: relative;}
.footer_inner aside.f_links a:before {content: '';position: absolute;width: 15px;height: 1px;background: #fd1e77;left: 0;top: 10px;}
.pro_tag p a{padding:10px;border:1px solid #eee;text-transform:uppercase;color:#ddd;}
.tagss{display:flex;flex-flow: row;justify-content: start;flex-wrap: wrap;}
.footer_inner aside .tagss p {line-height: 2.7;margin: 6px 4px;height: 40px;}
footer .social{text-align:center;}
p.copyrights{font-size:13px;color:#eee;line-height:2;text-align:center;margin-top:20px;}
.blog{display: flex;flex-wrap: wrap;flex-direction: row;justify-content: center;}
.blog aside{padding-right: 15px;width:50%;}
.blog aside:nth-child(2n){padding-left: 15px;padding-right:0;}
.blog_inner li{width:100%;margin:10px 0;}
.blog_inner label{color:#fd1e77;font-size:21px;text-transform:uppercase;}
.blog_inner li a{color:#000;font-size:18px;}
.blog_inner li p{color:#999;line-height:1.8;font-size:15px;}
.blog_inner li span{vertical-align: middle;margin-right:10px;color:#ccc;}
.blog_inner li span i{color:#ccc;cursor:pointer;font-size:21px;margin-right:10px;}
.blog_inner li span i:hover{color:#fd1e77;}
.brands{display: flex;text-align: center;vertical-align: middle;align-items: center;justify-content: space-evenly;margin: 60px 0;}
.brands li{}

.inner_heading{width:100%;display:flex;background:url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/BtD2KAGripl9a1wg/close-up-hangers-with-dresses-and-shirts-in-the-shop-of-womans-clothes_bxcjs_i8__F0008.png');background-size:cover;background-repeat:no-repeat;background-position:bottom right;min-height:250px;position:relative;align-items: center;}
.inner_heading:before{position:absolute;content:'';top:0;left:0;width:100%;height:100%;background:#0533537d;}
.page_h{display:flex;z-index: 1;position: relative;flex-wrap: wrap;}
.page_h h1{background:#fd1e77;color:#053353;line-height:1.8;padding: 0 20px;font-weight: 400;text-transform: uppercase;border-right:3px solid #053353;}
.page_h h1 i{margin-right:10px;}
.breadcum{color:#fff;font-size:18px;width:100%;text-transform:capitalize;word-spacing:5px;}
.breadcum a{color:#eee;}
.sidenav {height: 100%;width: 0;position: fixed;z-index: 1;top: 0;left: 0;background-color: #111;overflow-x: hidden;transition: 0.5s;padding-top: 60px;}
.sidenav a {padding: 8px 8px 8px 32px;text-decoration: none;font-size: 25px;color: #818181;display: block;transition: 0.3s;}
sidenav a:hover {color: #f1f1f1;}
.sidenav .closebtn {position: absolute;top: 0;right: 25px;font-size: 36px;margin-left: 50px;}
#main {transition: margin-left .5s;padding: 16px;}
.inner_page_s{display:flex;margin: 40px 0;    z-index: 0;}
.inner_page_s .search_sec select{width:25%;}
.inner_page_s .search_sec input[type=search]{width:75%;}
.filter_sec, .search_sec{flex:1;}
.filter_sec span{font-size:21px;color:#053353;vertical-align: middle;line-height: 1.8;cursor:pointer;}
.filter_sec p{display: inline-block;margin-left: 30px;font-size: 18px;font-weight: 400;vertical-align: middle;}
.shop_m {display: flex;flex-grow: 3;flex-wrap:wrap;}
.shop_m article{width: 33.33%;padding: 0px 20px 0 0px;margin: 20px 0;}
.shop_m article img{width:100%;}
.pagination{width:100%;display:block;text-align:center;}
.pagination li{display:inline-block;line-height:1.8;margin:5px;}
.pagination li a{color:#053353;border:1px solid #fd1e77;font-size:21px;padding: 5px 10px;}
.pagination li a:hover{color:#fd1e77;}
.pagination li a.active{color:#053353;background:#fd1e77;}
.blog_desc{width:80%;float:none;margin:5% auto;color:#333;line-height:1.8;display:block;text-align:center;}
.blog_desc span{text-transform:uppercase;color:#fd1e77;}
.blog_sin .blog aside{width: 50%;margin:20px 0;}
.blog_sin .blog aside:nth-child(2n) li{text-align:right;}
.blog_inner li img{max-height: 380px;min-height: 380px;width:100%;}
.blog_inner a:hover{color:#fd1e77;}
.portfolio_sec{display:flex;flex-grow: 3;flex-wrap:wrap;justify-content: center;}
.portfolio_sec aside{width:33.33%;padding: 0px 20px 0 0px;margin: 30px 0;}
.portfolio aside ul{display: flex;flex-flow: column;justify-content: center;text-align:center;}
.portfolio aside ul li.p_name{width:80%;float:none;margin:-30px auto 0px auto;background:#fff;box-shadow: 0 0 6px #ccc;}
.portfolio aside ul li.p_name span{text-transform: capitalize;margin-top: 10px;display: block;font-size:13px;}
.portfolio aside ul li.p_name h2{text-transform:capitalize;color:#fd1e77;font-size: 26px;}
.about_inner{display: flex;flex-direction: row;flex-wrap: wrap;justify-content: center;margin: 40px 0;}
.flex_2{flex:2;}
.flex_3{flex:3;}
h3.about_head{line-height:1.8;color:#000;text-transform:uppercase;font-weight:400;font-size:24px;}
h3.about_head span{background:#fd1e77;}
h3.about_head var{color:#fd1e77;}
p.sub_para{font-size:15px;color:#ccc;line-height:1.8;text-align:left;padding:10px;border:1px solid #ccc;font-weight:400;margin-bottom:10px;}
.info_about{padding-right:30px;}
p.highlight_txt{padding: 4% 6%;margin: 6% 0;text-align:justify;line-height:1.8;font-size:16px;color:#053353;position:relative;}
p.highlight_txt:after{position:absolute;content:'"';color:#fd1e77;font-size:80px;bottom:25px;right:0;line-height:0;transform: rotate(180deg);}
p.highlight_txt:before{position:absolute;content:'"';color:#fd1e77;font-size:80px;top:25px;left:0;line-height:0;}
button.accordion {color: #aaa;cursor: pointer;padding: 10px;width: 100%;border: 1px solid #fd1e77;font-family:'Cabin-Regular';background:transparent;text-align: left;outline: none;font-size: 16px;transition: 0.4s; margin:10px 0;}
button.accordion.active, button.accordion:hover {border: 1px solid #053353;}
button.accordion:after {content: '\002B';color: #053353;font-weight: bold;float: right;margin-left: 5px;}
button.accordion.active:after {content: "\2212";}
div.panel {max-height: 0;overflow: hidden;transition: max-height 0.2s ease-out;}
div.panel p{padding: 0 15px;border:1px solid #fd1e77;background: #fff;line-height:1.8;color:#053353;font-size:14px;}
.about_inner .sub_header h1{font-size:x-large;text-align:left;}
.what_do_abt{font-size:14px;color:#ccc;margin:10px 0;}
.gaurantee_sec{text-align:center;display:flex;flex-wrap:wrap;justify-content:center;background:#053353;padding: 20px;}
.gaurantee_sec li{flex-flow: column;display: flex;padding:0 20px;}
.gaurantee_sec li i{color:#fff;font-size:30px;flex:1;}
.gaurantee_sec li span{color:#999;margin:5px 0;}
.gaurantee_sec li label{color:#fd1e77;font-size:18px;margin:5px 0;}
.gaurantee_sec li:first-child{border-right:1px solid #fd1e77;} 
.contact_sec{display: flex;flex-wrap: wrap;justify-content: center;margin: -25px 0 50px 0;;z-index: 1;position: relative;}
.contact_sec aside{flex:1;padding-right:20px;}
.contact_sec aside ul{background:#fff;text-align:center;border-radius:3px;box-shadow: 0 0 6px 0px #a2a2a2;border-bottom:3px solid #053353;padding:20px 0;height: 100%;}
.contact_sec aside ul li i{color:#053353;font-size:50px;}
.contact_sec aside ul li{margin:5px 0;}
.contact_sec aside ul li h3{color:#fd1e77;font-size:24px;font-weight:400;}
.contact_sec aside ul li p, .contact_sec aside ul li span{font-size:15px;color:#333;line-height:1.8;}
.contact_bg{background-image:url('http://cliparting.com/wp-content/uploads/2017/01/Clothing-clothes-clip-art-free-clipart-images-3-clipartix.png');background-repeat:no-repeat;background-size:contain;width:65%;height: 100%;background-position: center center;opacity:0.5;background-position: center center;display: block;margin: 0 auto;}
.form_c{display: flex;flex-wrap: wrap;justify-content: center;}
.form_c aside{flex:1;}
.form_c aside form input{border:0px;border-bottom:2px solid #053353;padding:5px;color:#333;width:100%;height:50px}
.form_c aside form textarea{border:0px;border-bottom:2px solid #053353;padding:5px;color:#333;width:100%;height:150px}
.form_c aside form p{margin:15px 0;}
.form_c aside form .black_btn{justify-content:center;color:#fd1e77;}
.social_contact{display:flex;background:#053353;padding:20px;margin:5% auto;width: 40%;justify-content: center;}
.social_contact li{margin-right:8px;}
.social_contact li a{background: #fd1e77;font-size: 32px;width: 45px;height: 45px;display: inline-flex;justify-content: center;align-items: center;border-radius: 100%;}
.social_contact li a:hover{box-shadow: 0 0 8px 1px #cecece;background: #053353;color:#fff;}