@charset "utf-8";
/* Responsive-------------------- */

@media screen and (max-width: 1600px){

.full_main{width:1200px;margin:0 auto;}
.main{width:1100px;margin:0 auto;padding:0;}
.owl-carousel.owl-drag .owl-item{height:auto;}

}

@media screen and (max-width: 1200px){

.full_main{width:1100px;margin:0 auto;}
.main{width:1024px;margin:0 auto;padding:0 20px;}

}


@media screen and (max-width: 990px){
	.topnav li{padding: 14px 0px 14px 20px;}
	.main{width:780px;margin:0 auto;padding:0;}
	.slider_text{top:15%;}
	.season_sale li{height:auto;}
	.season_sale li h1{font-size:25px;}
	.owl-two .owl-nav .owl-prev:after, .owl-two .owl-nav .owl-next:after, .owl-three .owl-nav .owl-prev:after, .owl-three .owl-nav .owl-next:after{font-size: 25px;}
	.sub_header h1{    font-size: 30px;}
	.owl-two .owl-nav{    top: -66px;}
	div.tab button{font-size:20px;}
	.owl-three .owl-nav{    top: -66px;}
	.footer_inner aside {flex-basis: 50%;}
	.blog aside{flex:100%;padding:0;margin:20px 0;}
	.blog aside:nth-child(2n){padding:0;}
	.inner_page_s .search_sec input[type=search], .inner_page_s .search_sec select{width:50%;}
	.shop_m article{width:50%;}
	.breadcum{font-size:15px;}
	.page_h h1{font-size: 23px;}
	.flex_2, .flex_3{flex:100%;}
	.info_about{padding:0;}
	.contact_sec aside{flex: 50%;margin: 20px 0;}
	.contact_sec{margin:5% 0;}
	.social_contact{width:65%;}
}

@media screen and (max-width: 800px){
	
	.main{width:600px;}
	.filter_sec, .search_sec {
		flex: 100%;
		margin: 5px 0;
	}

}


@media screen and (max-width: 767px){
	.topnav li a{font-size:13px;}	
	.responsive {position: relative;}
	.topnav li{display:none;}
	.responsive li{display: flex;flex: 100%;}
	.icon {position: absolute;right: 15px;top: 15px;display:block;font-size:18px;display:flex;}
	.responsive a {float: none;display: block;text-align: left;}
	.topnav {flex-wrap: wrap;    flex: 100%;}
	header nav .logo {display: inline-flex;}
	header nav .header_nav{flex:100%;}
	.topnav li a i{width:25px;}
	.main{width:600px;margin:0 auto;padding:0;}
	.slider_text h1{padding: 0px 0 11px 0px;font-size: 40px;}
	.search input[type=search]{    width: 69%;}
	.search select{width: 30%;}
	.slider_text{top: 5%;}
	.owl-one .owl-nav .owl-prev:after, .owl-one .owl-nav .owl-next:after{font-size: 25px;}
	.footer_inner aside {flex-basis: 80%;margin:20px 0}
	.footer_inner{justify-content: center;}
	.form_c aside{flex:100%;}	
	.form_c aside:first-child{order:2;}
	.form_c aside:nth-child(2){order:1;height:400px;}
	.contact_bg{width:100%;}
}


@media screen and (max-width: 600px) {
 
	.main{width:450px;}
	.slider_text h1{    font-size: 32px;}
	.slider_text h5{padding: 5px;}
	.black_btn{    margin: 10px 0;}
	.season_sale li.big_div, .season_sale li.small_div{flex:100%;margin-bottom:20px;padding:0;}
	.shop_m article{width:100%;}
	.gaurantee_sec li:first-child{border:0;}
	.gaurantee_sec li{margin:20px 0;}
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 530px) {
	
	.social{justify-content: center;flex-grow: 1;padding: 10px 0;text-align: center;}	
	.extra_link {justify-content: center;padding: 5px 0;flex: 100%;text-align: center;}
	.extra_link li a{font-size:12px;padding:5px;}
	.extra_link li.cart a{padding: 2px 5px;}
}

@media screen and (max-width: 479px) {
 
	.main{width:300px;}
	.search{margin:20px 0;padding:10px;}
	 .search i{float: right;margin-top: -30px;margin-right: 7px;}
	 .search input[type=search]{width:100%;margin:0;    font-size: 12px;height:auto;}
	 .search select{width:100%;    font-size: 13px;height:auto;}
	 .slider_text h5{font-size: 12px;}
	 .slider_text h1 {font-size: 21px;}
	 .black_btn{padding:5px 20px;font-size:12px;}
	 .shop_des li label{    font-size: 21px;
    line-height: 1.8;}
	.inner_page_s .search_sec input[type=search], .inner_page_s .search_sec select{width:100%;}
	.filter_sec p{font-size:13px;}
	.filter_sec span{font-size:16px;}
	.pagination li a{font-size:14px;}
	.social_contact{width:85%;}
	.social_contact li a{font-size: 21px;width: 30px;height: 30px;}
	.contact_sec aside{flex:100%;padding:0;}
	
}
