@charset "utf-8";
/* CSS Document */

@font-face{
	src:url(../fonts/Merriweather/Merriweather-Regular.ttf);
	font-family:'Merriweather-Regular';	
 	font-style: normal;
}


@font-face{
	src:url(../fonts/Merriweather/Merriweather-Light.ttf);
	font-family:'Merriweather-Light';	
 	font-style: normal;
}

@font-face{
	src:url(../fonts/Merriweather/Merriweather-Bold.ttf);
	font-family:'Merriweather-Bold';	
 	font-style: normal;
}

body{font-family:'Merriweather-Regular';}
ul{padding:0;list-style:none;}
img{max-width:100%;}
input:focus, textarea:focus{outline:none;}
.custom_h{background:#0d2212;}
.nav_main_f{width:100%;display:flex;justify-content:center;flex-direction:column;align-items: center;}
.bg_h img{width:250px;}
.navbar-nav .nav-link{color:#baaa93;font-size:16px;padding: 10px 20px !important;text-align: center;}
.f_to{top: 8px;position: absolute;right: 0;}
.f_to:focus{outline:0px;}
.bottom_me{border-top: 1px solid #fff;margin-top: 30px;padding:10px 0;width: 100%;}
.bottom_me .navbar-nav{margin:0 auto;}
.bottom_me .navbar-nav .nav-item.active{position:relative;}
.bottom_me .navbar-nav .nav-item.active:after{position:absolute;content:'';border-left: 8px solid transparent;border-right: 8px solid transparent;border-top: 8px solid #fff;top: -10px;left: 0; text-align: center;
right: 0;margin: 0 auto;width: 8px;}
.banner_f img{width:100%;}
.banner_f{position:relative;}
.banner_f .banner_i_f{position: absolute;top: 20%;width: 50%;left: 50px;z-index:1;}
.banner_f .banner_i_f h1{font-size:80px;color:#000;}
.banner_f .banner_i_f h2{font-size:40px;color:#0d2212;text-decoration:underline;margin:20px 0;}
.banner_f .banner_i_f p{color:#0d2212;font-size:15px;margin:20px 0;line-height:1.8;}
.sqr_box_f{position:absolute;width:30%;height:70%;top:15%;left:0;right:0;border:2px solid #0d2212;margin:0 auto;z-index:0;opacity: 0.5;}
.f_info1{background: linear-gradient(to right, #eee  50%, #fff 50%);padding:30px 0;position:relative;}
.points_f_1{margin:50px 0;}
.points_f_1 h1{font-size:30px;line-height:1.8;}
.points_f_1 ol li{position:relative;margin:10px 0;}
.points_f_1 ol li:before{position:absolute;content:'';left: -26px;top: -15px;background: url(../imges/points.png) 100%;width: 26px;height: 45px;z-index: -1;}
.points_f_1 ol li p{padding-left:10px;font-size:14px;line-height:1.8;}
.points_f_2{background:url(../imges/point_b.png) 100%;padding:40px;}
.points_f2{width:100%;padding:0;list-style:none;}
.points_f2 li{width:49%;float:left;margin-bottom:30px;}
.points_f2 li span{display:inline-block;color:#0d2212;font-size:20px;width:55px;height:55px;background:#fff;border:2px solid #0d2212;text-align:center;border-radius:50px;line-height:2.5;margin-right:15px;}
.points_f2 li p{display:inline-block;}
.points_f{margin:30px 0;}
.footer_f{position:relative;background: linear-gradient(to right, #eee  50%, #baaa93 50%)}
.footer_f:before{position:absolute;width:50%;content:'';height:100%;border:2px solid #0d2212;top:0;left:0;border-right:0;}
.f_left{background:#eee;border:2px solid #0d2212;padding:20px;position:relative;border-left:0px;text-align: center;}
.f_right{background:#baaa93;padding:20px;position:relative;}
.logo_c, .contact_r{list-style:none;text-align:center;}
.f_left img{width:280px;}
.logo_c{margin-top:30px;}
.logo_c p{font-size:14px;color:#0d2212;}
.f_left .logo_c label{color:#000;text-transform:uppercase;font-size:18px;}
.contact_r{margin:30px 0;}
.contact_r h2{font-size:40px;text-transform:uppercase;}
.contact_r p{font-size:14px;color:#000;text-align:justify;margin-top:30px;line-height:1.8;}
.inner_m_h{background:url(../imges/heading_bg.png) no-repeat center;background-size:cover;height:100%;padding:20px;text-align:center;}
.f_h h1{color:#fff;text-transform:uppercase;letter-spacing:13px;margin:15px 0}
.f_h p{color: #d3c19f;}
.f_h{min-height: 200px;}
.what_we_do, .how_work, .passion_style{padding:5% 0;}
.what_we_do ul{padding:0;list-style:none;}
.sub_h_f{color:#000;font-size:35px;text-transform:uppercase;letter-spacing:13px;margin-bottom:20px;width:100%;}
.what_we_do ul li .line_s{color:#0d2212;font-size:20px;margin:30px 0;}
.what_we_do ul li p{font-size:14px;color:#333;margin-top:10px;position:relative;padding-left:40px;    line-height:2;}
.what_we_do ul li p:before{content:'';position:absolute;background:url(../imges/points_i.png) no-repeat;width:40px;height:40px;left:0;top:0;background-size:75%;}
.how_work .sub_h_f, .passion_style .sub_h_f{text-align:center;}
.how_work p{color:#333;line-height:3;font-size:15px;text-align:center;margin:30px 0;}
.how_work p.s_extra_p{color:#baaa93;font-size:16px;font-weight:600;width:80%;margin:30px auto;}
.passion_style p{text-align:justify;font-size:14px;color:#333;margin-bottom:20px;}
.p_left{padding-right:30px;margin-top:30px;}
.p_right{padding-left:30px;margin-top:30px;}
.p_left h4, .p_right h4{font-size:21px;color:#0d2212;text-decoration:underline;margin:20px 0;}
 hr{width: 80%;border-top: 2px solid #0d2212;}
.custom_r_info h2{font-weight:700;text-transform:uppercase;color:#0d2212;margin:20px 0;}
.custom_r_info p{font-size:14px;color:#000;line-height:1.8;}
.custom_r_info ul{padding:0;list-style:none;display:flex;width:100%;flex-direction:row;}
.custom_r_info ul li{width:50%;padding-right:20px;color:#fff;}
.custom_r_info ul li img{display:block;}
.custom_r_info ul li label{text-transform:uppercase;margin-bottom:20px;}
.custom_r_info ul li p{font-size:14px;color:#fff;}
.custom_r_info{background:#baaa93;height: 575px;z-index: 1;}
.f_info1:after{background:#baaa93;content:'';position:absolute;top:30px;right:0;height: 575px;width:50%;}
.f_info1.rvrs_c{background: linear-gradient(to right, #fff  50%, #eee 50%);}
.f_info1.rvrs_c:after{background:#0d2212;content:'';position:absolute;top:30px;left:0;height: 575px;width:50%;}
.rvrs_c .custom_r_info h2{color:#fff;}
.rvrs_c .custom_r_info{background:#0d2212;}
.rvrs_c .custom_r_info p{color:#baaa93;}
.img_i img{border:3px solid #0d2212;}
.service_new{margin:5% 0;}
ul.service_i{display: flex;flex-wrap: wrap;flex-direction: row;margin: 0;padding:0;list-style:none;}
ul.service_i li{flex-basis: 50%;}
ul.service_i li img{width:100%;height:100%;}
.service_des{padding:20px;border:2px solid #baaa93;}
.service_des div{transform: translateY(10%);height: 100%;}
.service_des h3{color: #0d2212;font-weight: 600;text-transform:uppercase;}
.service_des p{font-size:17px;color:#999;line-height: 1.8;margin:20px 0;}
.service_des span{display: block;padding: 15px 30px;font-size:15px;color:#baaa93;position:relative;}
.service_des span:after{position:absolute;content:'';width:20px;height:1px;background:#0d2212;top:25px;left:0px;}
.service article:nth-child(odd) .service_des{text-align:right;}
.service article:nth-child(odd) .service_des span:after{right:0;left:unset;}
.work_f{margin-top:30px;width:100%;text-align:center;}
.pagination{justify-content: center;margin:30px 0;}
.pagination li{margin:10px;}
.pagination a{padding: 5px 10px;background-color: #baaa93;color: #fff;}
.text_div_f{width:100%;padding:20px;background:#0d2212;margin: 10% 0;position:relative;}
.text_div_f:before{position:absolute;content:'';width:100%;background:url(../imges/bdr_top.png);background-size: cover;top: -149px;left: 0;height: 150px;}
.text_div_f:after{position:absolute;content:'';width:100%;background:url(../imges/bdr_b.png);background-size: cover;bottom: -160px;left: 0;height: 169px;}
.text_div_f p{color:#fff;font-size:14px;font-family:'Merriweather-Light';text-align:center;line-height:3;}
.text_div_f h2{text-align:center;text-transform:uppercase;color: #baaa93;}
.inner_k{text-align:center;margin:6% auto;width:90%;padding:0 3%;border-right:5px solid #baaa93;border-left:5px solid #baaa93;}
.inner_k p{font-size:18px;font-weight:600;color:#0d2212;margin:20px 0;}
.work_f p{font-size:21px;color:#999;line-height:1.8;}
.blog_new{margin:5% 0;}
.blog_f{width:100%;margin:6% 0;}
.blog_name{display:flex;flex-direction:row;justify-content:space-between;margin:20px 0;}
.blog_name label{color:#baaa93;}
.blog_name h3{color:#0d2212;}
.blog_tag span{font-size:12px;color:#ccc;margin-right:5px;}
.blog_tag label{margin-right:5px;color:#0d2212;font-weight:600;}
.blog_f li p{font-size:14px;color:#000;line-height:1.8;margin:10px 0;}
.blog_likes i{font-size:20px;color:#ccc;margin-right:10px;}
.blog_likes a{float:right;color:#baaa93;background:#0d2212;font-size:14px;padding:8px;}
.Shop_f{width:100%;display:flex;flex-direction:row;margin:10% 0;}
.Shop_f .navbar{padding:0;}
.Shop_f .custom_sidebar{width: 100%;background: #baaa93;}
.Shop_f .custom_sidebar aside{width:100%;}
.sidebar_h{text-align:center;padding:20px 0;color:#0d2212;font-size:20px;border-bottom:1px solid #0d2212;}
.Shop_f .custom_sidebar aside .cat_f{padding:20px;}
.Shop_f .custom_sidebar aside .cat_f li{margin:5px 0;}
.Shop_f .custom_sidebar aside .cat_f li label{color:#fff;font-size:14px;margin-left:10px;}
.top_sort_by{width:100%;display:flex;flex-direction:row;justify-content: space-between;padding: 13px 0;margin: 0;border-bottom: 1px solid #0d2212;}
.top_sort_by li p{font-size:14px;color:#0d2212;}
.top_sort_by li select{border: 1px solid #baaa93;padding: 5px 10px;font-size: 14px;color:#0d2212;}
.top_sort_by li button{background:transparent;border:0px;cursor:pointer;-webkit-transition:all 2s ease-out;-moz-transition:all 2s ease-out;-o-transition: all 2s ease-out;
  transition:all 2s ease-out;}
.top_sort_by li button:focus{outline:none;}
.top_sort_by li button img{width:30px;}
.items_f{display:flex;margin: 3% 0;}
#container .grid.items_f{flex-direction:row;flex-wrap:wrap;-webkit-transition:width 2s ease-out;-moz-transition:width 2s ease-out;-o-transition: width 2s ease-out;
  transition:width 2s ease-out;}
#container .list.items_f{flex-direction:column;flex-wrap:wrap;transition:width 1s;}
#container .list.items_f li {width: 100%;transition:width 1s;}
#container .grid.items_f li{width: 33.33%;padding:10px 15px 10px 0;transition:width 1s;}
#container .items_f li .product_f{border: 1px solid #baaa93;}
#container .grid li .prod_img{height:250px;display: flex;justify-content: center;}
#container .grid li .prod_img img{width:100%;display:block;}
#container .grid li .prod_desc{padding:10px;position:relative;}
#container .grid li .prod_desc .start{text-align:center;font-size:16px;color:#baaa93;}
#container .items_f li .prod_desc p span{color:#ccc;font-size:12px;}
#container .items_f li .prod_desc h4{font-size:20px;}
#container .items_f li .prod_desc h4 a{color:#0d2212;}
#container .items_f li .prod_desc label{font-size:18px;color:#baaa93;font-weight:600;}
#container .items_f li .prod_desc p.cart{position: absolute;right: 15px;bottom: 0;}
#container .items_f li .prod_desc p.cart a{font-size: 26px;color: #0d2312;}
#container .list.items_f li .product_f{margin-bottom:20px;display: flex;flex-direction: row;}
#container .list.items_f li .product_f .prod_img{width: 40%;text-align: center;}
#container .list.items_f li .product_f .prod_desc{width: 60%;text-align:left;padding:15px;display:flex;flex-direction:column;position:relative;}
#container .list li .prod_desc .start{order:2;}
.side_left{width:25%;padding-right:15px;}
.side_right{width:75%;padding-left:15px;}
.process_f{width:100%;margin:5% 0;}
.process_no{display: flex;padding: 0;margin: 0;flex-direction: row;}
.process_no li.pro_desc{width:75%;text-align:center;align-items:center;justify-content:center;position:relative;}
.process_no li.pro_desc div{height:100%;position:relative;padding:20px 0;justify-content: center;display: flex;flex-direction: column;width:80%;margin: 0 auto;}
.process_no li.pro_desc div:before{position:absolute;content:attr(data-content);font-size:250px;color:#f2f2f2;z-index:-1;width:100%;text-align:center;font-weight:300;height: 100%;}
.process_no li.pro_desc div label{font-size:30px;text-transform:uppercase;color: #0d2312;margin:10px 0;}
.process_no li.pro_desc div p{font-size:15px;color:#999;line-height:1.8;}
.process_no liproc_img{width:35%;}
.process_f aside{border-bottom:1px solid #baaa93;}
.process_f aside:nth-child(1){border-top:1px solid #baaa93;}
.process_no li.pro_desc:after{position:absolute;content:'';width:50%;height:10px;background:#0d2312;top:0;right:0}
.process_no li.pro_desc:before{position:absolute;content:'';width:50%;height:10px;background:#0d2312;bottom:0;right:0}
.process_f aside:nth-child(2n) .process_no .pro_desc{order:2;}
.process_f aside:nth-child(2n) .process_no .pro_desc:after{right:unset;left:0;}
.process_f aside:nth-child(2n) .process_no .pro_desc:before{right:unset;left:0;}
.contact_info{display:flex;width:100%;flex-wrap:wrap;flex-direction:row;    justify-content: center;margin:5% 0;}
.contact_info aside{width:25%;padding:5px;text-align: center;}
.c_info_f{margin: 0;padding: 0;height: 100%;display: flex;flex-direction: column;align-items: center;border: 1px solid #baaa93;}
.c_info_f li{width:100%;padding:5px;}
.c_info_f li p, .c_info_f li span{font-size:14px;color:#666;width:100%;display:block;}
.c_info_f li label{text-transform:uppercase;color:#0d2312;margin:10px 0;}
.c_info_f li:nth-child(1){background:#0d2312;color:#baaa93;}
.c_info_f li:nth-child(1) i{font-size:28px;}
.c_info_f li a{color:#666;}
.c_info_f li a i{font-size:24px;}
.contact_f_d p{width: 80%;margin: 30px auto;line-height:1.8;font-size:18px;color:#000;text-align:center;}
.contact_f_d ul{width:80%;margin: 5% auto;padding:20px 10px;border: 1px solid #baaa93;display: flex;flex-direction: row;flex-wrap: wrap;}
.contact_f_d ul li{width:100%;padding:5px;margin:10px 0;}
.contact_f_d ul li:nth-child(1), .contact_f_d ul li:nth-child(2){width:50%;}
.contact_f_d ul li input{border:0px;border-bottom:1px solid #baaa93;width:100%;color:#666;}
.contact_f_d ul li textarea{border:0px;border-bottom:1px solid #baaa93;width:100%;height:100px;color:#666}
.contact_f_d ul li label{color:#0d2312;font-size:18px;}
.contact_f_d ul li button{background:#0d2312;color:#baaa93;border:0px;padding:10px 15px;float:right;}









