@charset "utf-8";
/* CSS Document */
/***********************************Responsive*********************************/
@media screen and (max-width: 1600px){

.main{width:1100px;}
.b_banner{height: 430px;}

}

@media screen and (max-width: 1200px){

.main{width:1024px;}
.post_type_5_s{-moz-column-count:3;-webkit-column-count:3;column-count: 3;}

}

@media screen and (max-width: 1200px){

.main{width:980px;}

}

@media screen and (max-width: 990px){

.main{width:760px;}
.b_banner{height: 320px;}
.side_f_bg .b_user_info{    margin-top: -80px;}
.side_f_bg .b_user_info .img_u{width: 140px;height: 140px;}
.side_f_bg .b_user_info .img_u img{    max-width: 130px;}
.side_f_bg{    width: 40%;}
.post_1_img{height: 300px;display: flex;}
.post_type_1 > li {width: 100%;margin:15px 0;}
.header_active{    top: 100px;}
.post_type_3{    flex-direction: column;}
.post_3_1{    align-items: center;width: 100%;}
.post_3_1_desc{padding:0;}
.post_3_2 { width: 100%;margin:20px 0;}
.post_type_5_s{-moz-column-count:2;-webkit-column-count:2;column-count: 2;}
.detail_c > li{    width: 80%;margin:10px 0;}
.newsletter_d input{min-width:100%;}
.newsletter_d input[type=submit]{text-align:center;margin:10px auto;border-bottom:0px;}
.newsletter_d input, .newsletter_d textarea{min-width: 90%; margin: 10px auto;}
.contact_head h1{    font-size: 60px;}


}

@media screen and (max-width: 769px){

.main{width:590px;}
.b_logo img{width:120px;}
.menu_header .b_social li i{width: 20px;height: 20px;font-size: 15px;}
.menu_header .b_social li input{padding: 1px;}
.topnav li{display: none;}
.menu_header .b_social, .menu_header .topnav{margin:0;}
.menu_header .topnav li{margin:0;}
.menu_header .topnav a{border-top:0;padding: 10px 0;/* width: 100%; */display: block;}
.topnav.responsive li:last-child a{border-bottom:0px;}
a.b_toggle {display: block !important;float: right;cursor: pointer;margin-left:10px;}
.b_menu{position: relative;}
.topnav.responsive {position: absolute;width: 100%;flex-direction: column;background-color: #fcc330;border-radius: 10px;top: 50px;padding: 5px;text-align: center;justify-content: center;z-index: 9;}
.topnav.responsive li {display: block;}
.b_banner {height: auto;flex-direction: column;}
.b_banner .b_carousel, .b_banner .banner_s_b{width: 100%;}
ul.banner_new_blog{    flex-direction: row;}
ul.banner_new_blog li{height:100%;width:50%;}
.banner_new_blog img{height:auto;}
.blog_side_bar{flex-wrap: wrap;}
.side_f_bg {width: 100%;}
.header_active{position:relative;top:0;}
ul.banner_new_blog li{width: 100%;margin: 10px 0;}
ul.banner_new_blog {flex-direction: column;}
.blog_h_right{width:100%;padding: 0 0 60px 0;}



}

@media screen and (max-width: 600px){

.main{width:480px;}
.menu_header{flex-direction: column;}
.contact_head{    margin-top: 20px;}


}

@media screen and (max-width: 479px){

.main{width:300px;}
.menu_header .b_social li{margin: 5px;}
.menu_header .b_social{justify-content: center;flex-wrap: wrap;}
.post_type_5_s{-moz-column-count:1;-webkit-column-count:2;column-count: 1;}

}

@media screen and (max-width: 320px){
	.main{width:280px;}
	
}